.B2B
{
    background-color: #00c48c; /* Green */
     color: white;
     font-size: 12px;
     border: none;
     width: 32vw;
     padding-top: 3%;
     padding-bottom: 3%;
     margin-left: 1%;
     margin-top: 1%;

}
.B2C
{
    background-color: #00c48c; /* Green */
     color: white;
     font-size: 12px;
     border: none;
     width: 32vw;
     margin-left: 1%;
     margin-top: 1%;
     padding-top: 3%;
     padding-bottom: 3%;


}
.others
{
    background-color: #00c48c; /* Green */
     color: white;
     font-size: 12px;
     border: none;
     margin-left: 1%;
     margin-top: 1%;
     width: 32vw;
     padding-top: 3%;
     padding-bottom: 3%;
}
.title
{
    color:purple !important;
    text-align:start;
    font-size: 18px;
}
.mat_card_id
{
    margin: 5%;

}.mat_headers
{
    background: #00c48c;
}
.title_id
{
    text-align: center;
    
}.percentage
{
    background: crimson;
    margin: 5%;
    width:90%;
}.subtitle_id
{
    text-align: right;
    color: black;
}
::ng-deep
{.mat-card-header-text
{
     width: 100% !important;
     display: block;
}.mat-button-wrapper
{
    text-align: right;
}.mat-button-ripple.mat-ripple
{
text-align: right;
}
}
.last_update
{
    text-align: left;
}.date
{
align-self: center;
}
