<div fxLayoutAlign="center center" fxFlexFill  > 
  
        <form fxLayoutAlign="stretch" fxLayout="column"> 
            <img src="../assets/images/avatar.png" alt="Avatar" class="avatar"  >
            <div class="center">
                <p>TEST_DUSDAS</p>
              </div>            
            <button mat-raised-button class="btn1"  (click)="dashboard()">Businesss Service Dashboard</button>
            <button mat-raised-button class="btn2" type="submit">IT Service Desk</button>
            <button mat-raised-button class="btn3" type="submit">Security Operation Center</button>
            <button mat-raised-button class="btn4" type="submit">Collabration Services</button>
            <button mat-raised-button class="btn5" type="submit">EAI</button>
        </form>
    
        </div>