.btn1
{
    background-color: #1bced8; /* Green */
 // border: none;
 color: white;
//  padding: 15px 32px;
  text-align: center;
  margin: 0.5em;
 // text-decoration: none;
 // display: inline-block;
  font-size: 12px;

}
.btn2
{
    background-color: #00c48c; /* Green */
 // border: none;
    color: white;
//padding: 15px 32px;
  text-align: center;
  margin: 0.5em;
 // text-decoration: none;
 // display: inline-block;
  font-size: 12px;

}.btn3
{
    background-color: #ff6a39; /* Green */
 // border: none;
  color: white;
  margin: 0.5em;
//  padding: 15px 32px;
  text-align: center;
 // text-decoration: none;
 // display: inline-block;
  font-size: 12px;

}
.btn4
{
    background-color:  #ff375e; /* Green */
 // border: none;
  color: white;
//  padding: 15px 32px;
  text-align: center;
  margin: 0.5em;
 // text-decoration: none;
 // display: inline-block;
  font-size: 12px;

}
.btn5
{
    background-color: #4f008c; /* Green */
 // border: none;
  color: white;
//  padding: 15px 32px;
  text-align: center;
  margin: 0.5em;
 // text-decoration: none;
 // display: inline-block;
  font-size: 12px;

}
.avatar
{

  object-fit: cover;
  object-position: center ;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.center
{
  text-align: center;
  color: #ff375e;
}